/* Fonts */
@font-face {
font-family: 'ITCAvantGardePro-Bold';
    src: 
    url('font/ITCAvantGardePro-Bold.eot?#iefix') format('embedded-opentype'),  
    url('ITCAvantGardePro-Bold.otf')  format('opentype'),
    url('font/ITCAvantGardePro-Bold.woff') format('woff'),
    url('font/ITCAvantGardePro-Bold.ttf')  format('truetype'), 
    url('font/ITCAvantGardePro-Bold.svg#ITCAvantGardePro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: 'BebasNeue';
src: 
url('font/BebasNeue.eot?#iefix') format('embedded-opentype'),  
url('font/BebasNeue.otf')  format('opentype'),
url('font/BebasNeue.woff') format('woff'),
url('font/BebasNeue.ttf')  format('truetype'), 
url('font/BebasNeue.svg#BebasNeue') format('svg');
font-weight: normal;
font-style: normal;
}

.navbar a{
    font-family: 'BebasNeue';
    color:#00ff84;
    letter-spacing: 5px;
    font-size: 25px;

}
/*Alturas */
.hg80{
    height: 80px;
}

/* Colores */
.bg-darkmuch{
    background: black;
}
.bgimg1{
    background-image: url(../img/menu.png);
}



